<h2>
  <%= link_to l(:trigger_module) + " '#{@workflow.trigger_workflow_module}'", edit_trigger_module_path(@workflow.trigger_workflow_module) %>
  (<%= link_to l(:trigger_modules_all), trigger_modules_path %>)
  &#187; <%= @workflow %>
  (<%= link_to l(:trigger_workflows_all), trigger_workflows_path %>)
</h2>

<h3><%= l(:trigger_buttons) %></h3>

<%= render partial: 'trigger_buttons/list', locals: {triggers: @workflow.triggers, skip_parent_link: true} %>

<%= error_messages_for 'workflow' %>

<%= labelled_form_for @workflow, html: {class: 'trigger_workflows_form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% html_title(l(:trigger_workflows), @workflow, l(:label_administration)) -%>
