<h2>
  <%= link_to l(:trigger_module) + " '#{@workflow.trigger_workflow_module}'", edit_trigger_module_path(@workflow.trigger_workflow_module) %>
  (<%= link_to l(:trigger_modules_all), trigger_modules_path %>)
  &#187; <%= link_to l(:trigger_workflow) + " '#{@workflow}'", edit_trigger_workflow_path(@workflow) %>
  (<%= link_to l(:trigger_workflows_all), trigger_workflows_path %>)
  &#187; <%= @button %>
  (<%= link_to l(:trigger_buttons_all), trigger_buttons_path %>)
</h2>

<h2><%= link_to l(:trigger_buttons), trigger_buttons_path %> &#187; <%= @button %></h2>

<%= error_messages_for 'button' %>

<%= labelled_form_for @button, url: trigger_button_path(@button), html: {class: 'trigger_workflows_form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% html_title(l(:trigger_buttons), @button, l(:label_administration)) -%>
