<% html_title(l(:trigger_buttons)) -%>

<div class="contextual">
  <%= link_to l(:trigger_modules), trigger_modules_path, :class => 'icon icon-import' %>
  <%= link_to l(:trigger_workflows), trigger_workflows_path, :class => 'icon icon-add' %>
</div>

<h2><%=l(:trigger_buttons)%></h2>

<p>
  <%= link_to l(:new_trigger_button), new_trigger_button_path, :class => 'icon icon-add' %>
</p>

<div class="autoscroll">
  <%= render partial: 'trigger_buttons/list', locals: {triggers: @triggers} %>
</div>
