<h2>
  <%= link_to l(:trigger_buttons), trigger_buttons_path %>
  &#187; <%= l(:new_trigger_button) %>
</h2>

<%= error_messages_for 'button' %>

<%= labelled_form_for @button, url: trigger_buttons_path, html: {class: 'trigger_workflows_form'} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%= submit_tag l(:button_create) %>
<% end %>

<% html_title(l(:trigger_button), l(:new_trigger_button), l(:label_administration)) -%>
